{% extends 'back.html.twig' %}
{% block content %}
    <section id="page-title">
        <div class="container clearfix">
            <h1>Events List</h1>
        </div>
    </section>
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div id="posts" class="events small-thumbs">
                    {% for evenement in evenements  %}
                    <div class="row">
                        <div class="col">
                        <div class="entry clearfix" style="width: 1000px;height:auto;background: #fff;padding:10px 10px 10px 10px;margin-top:30px;">
                            <div class="entry-image">
                                <a href="#">
                                    <img src="{{ asset('public/uploads/brochures/Evenement/' ~  evenement.imageEve) }}" height="200px" width="200px" >
                                </a>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h2><a href="#">{{ evenement.titre }}</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><a href="#"><i class="icon-time"></i> {{ evenement.dateEvenement | date }}</a></li>
                                    <li><a href="#"><i class="icon-map-marker2"></i>{{ evenement.titreCordination }}</a></li>
                                </ul>
                                <div class="entry-content">
                                    <a href="{{ path('read_avis',{'id': evenement.id }) }}" class="btn btn-danger">Read More</a>
                                    <a href="{{ path('update_evenement',{'id': evenement.id }) }}" class="btn btn-danger">Modifier</a>
                                    <a href="{{ path('delete_evenement',{'id': evenement.id }) }}" class="btn btn-danger">Supprimer</a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
